.feedMainContainer {
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
}


.flex {
    display: flex;
}

.flex.between {
    justify-content: space-between;
}

.flex.middle {
    align-items: center;
}

.feedImage {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.imgResponsive {
    display: block;
    width: 100%;
}

.feedImageWrapper {
    width: 50%;
}

.feedItem {
    width: 48%;
    padding: 8px;
    margin: 4px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
    float: left;
    display: flex;
}

.feedDetailsForm {
    display: inline-block;
    width: 50%;
}

.formError {
    display: block;
    background-color: rgba(255, 2, 2, 0.45);
    color: #af0101;
    padding: 8px;
    margin-top: 8px;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;

  &.is-visible {
    opacity: 1;
  }
}

.filler {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #e7f1ff;
    position: absolute;
    p {
        width: 100%;
        text-align: center;
    }
}


.container {
    display: flex;
}

.middle {
  align-items: center;
}

.modalContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modalContainerInner {
    height: 100%;
}

.modalContainerInner img{
    display: block;
    height: 100%;
    width: auto;
}
