.select {
  position: relative; }

.select.disabled {
  cursor: not-allowed; }

.selectControl {
  width: 100%;
  background: transparent;
  border-bottom: solid 1px #d4d4d4; }

.selectControlFocus {
  border-bottom-color: #526cd0; }

.selectValueCount, .selectValue {
  display: inline-block;
  padding: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.87); }

.selectValue {
  padding-right: 36px; }

.selectValueUnderlay {
  opacity: 0.5;
  position: absolute;
  width: 79%; }

.selectInputWrapper {
  position: relative;
  display: flex; }

.selectInput {
  background: transparent;
  padding: 4px;
  border: none;
  font-size: 1em;
  flex: 1;
  flex-basis: 0;
  width: 0; }

.selectInput:focus {
  outline: none; }

.selectLoading {
  position: absolute;
  right: 24px;
  top: -20px; }

.selectOptionsWrapper {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), 0 0 2px 0 rgba(0, 0, 0, 0.1);
  width: 99%; }

.option {
  padding: 8px;
  cursor: pointer;
  position: relative; }

.optionCheckbox {
  margin-right: 8px !important; }

.optionFocused {
  background: rgba(0, 0, 0, 0.05); }

.selectRemoveIcon {
  position: absolute;
  right: 25px;
  top: 0px;
  cursor: pointer;
  padding: 4px; }

.dropIcon {
  position: absolute;
  top: 2px;
  right: 0px;
  cursor: pointer; }

.selectValueUnderlay .selectRemoveIcon {
  display: none; }

.select.disabled .selectOptionsWrapper .option {
  color: rgba(0, 0, 0, 0.27);
  cursor: not-allowed; }

.selectInputDisabled {
  position: absolute; }

.selectDisabledValue {
  color: rgba(0, 0, 0, 0.27);
  width: 100%;
  display: block; }

.feedSelect {
  display: flex;
  align-items: center;
  padding: 4px; }

.feedSelectWrapper:nth-child(even) {
  background-color: rgba(0, 112, 255, 0.1); }

.feedSelectLabel {
  width: 40%;
  text-transform: capitalize;
  margin: 0 16px 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px; }

.feedSelectBox {
  width: 100%; }

.selectBoxWrapper {
  width: 60%;
  display: flex; }
  .selectBoxWrapper input {
    width: 70%;
    margin-right: 4px; }

.dropdownContainer {
  width: 40px;
  margin: 0px 10px;
  position: relative; }

.paginationArrow {
  cursor: pointer;
  height: 24px; }

.sizeLabel {
  padding-right: 10px;
  color: #696969;
  font-weight: bold; }

.customSelectTag {
  border: none;
  border-radius: 0px;
  appearance: none;
  float: left;
  display: inline-block;
  padding: 0px 16px 0px 5px;
  background-color: #ffffff;
  color: #696969;
  outline: none;
  font-size: 15px; }

.selectPage {
  padding-right: 5px;
  text-align-last: center; }

.showSize {
  color: #696969; }

.selectTagPointer {
  content: '';
  width: 0px;
  border-width: 6px 5px 0 5px;
  border-style: solid;
  border-color: #4a4a4a transparent;
  display: inline-block;
  float: left;
  position: absolute;
  pointer-events: none;
  top: 7px;
  right: 2px; }

.paginationContainer {
  clear: both;
  margin: 16px; }

.feedMainContainer {
  margin: 16px;
  display: flex;
  flex-wrap: wrap; }

.flex {
  display: flex; }

.flex.between {
  justify-content: space-between; }

.flex.middle {
  align-items: center; }

.feedImage {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative; }

.imgResponsive {
  display: block;
  width: 100%; }

.feedImageWrapper {
  width: 50%; }

.feedItem {
  width: 48%;
  padding: 8px;
  margin: 4px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
  float: left;
  display: flex; }

.feedDetailsForm {
  display: inline-block;
  width: 50%; }

.formError {
  display: block;
  background-color: rgba(255, 2, 2, 0.45);
  color: #af0101;
  padding: 8px;
  margin-top: 8px; }

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out; }
  .LazyLoad.is-visible {
    opacity: 1; }

.filler {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #e7f1ff;
  position: absolute; }
  .filler p {
    width: 100%;
    text-align: center; }

.container {
  display: flex; }

.middle {
  align-items: center; }

.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; }

.modalContainerInner {
  height: 100%; }

.modalContainerInner img {
  display: block;
  height: 100%;
  width: auto; }

@keyframes animePalceHolder {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.animatedBackground {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: animePalceHolder;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #fafafa 8%, #dddddd 18%, #fafafa 33%);
  background-size: 1024px 104px; }

.animeTableHead {
  width: 100%;
  height: 8px; }

.animeTableBody {
  width: 19%;
  height: 350px;
  float: left;
  margin-right: 8px;
  margin-top: 8px; }

.animeTableContainer {
  margin: 48px;
  display: flex;
  align-items: center;
  justify-content: center; }
